* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #08a6e4;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
header h1 {
  font-weight: 300;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  margin-left: 25px;
}
header img {
  margin-right: 30px;
}

.sales h2 {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.sales p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  padding: 10px;
}
.sales button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  border-radius: 40px;
  margin: 1rem 3rem;
  padding: 1rem 3rem;
  background-color: #08a6e4;
  color: white;
  border: 0;
  box-shadow: 0 3px 10px rgba(7, 172, 230, 0.2);
}
.sales img {
  width: 100%;
}

.whyUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.whyUs h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  font-family: "Raleway", sans-serif;
}
.whyUs .dailyEntries {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.whyUs .dailyEntries .redDot {
  background-color: #fb3b64;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  margin-top: 25px;
  position: absolute;
  z-index: 1;
  margin-bottom: 5%;
}
.whyUs .dailyEntries img {
  margin-top: 27px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  margin-left: 47px;
  max-width: 12%;
}
.whyUs h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  margin-top: -10px;
}
.whyUs p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #a5a5a5;
  margin-top: 5px;
  font-size: 16px;
}
.whyUs .seenProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.whyUs .seenProducts .blueDot {
  background-color: #08a6e4;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
  margin-bottom: 5%;
}
.whyUs .seenProducts img {
  margin-top: 27px;
  position: relative;
  z-index: 2;
  margin-left: 40px;
  margin-bottom: 25px;
}
.whyUs .seen-products-p {
  text-align: center;
}
.whyUs .addedPost {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.whyUs .addedPost .greenDot {
  background-color: #55dfb4;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  margin-top: 37px;
  margin-bottom: 20px;
  position: absolute;
  z-index: 1;
}
.whyUs .addedPost img {
  margin-top: 25px;
  position: relative;
  z-index: 2;
  margin-left: 45px;
  margin-bottom: 20px;
  max-width: 16%;
}
.whyUs .added-Post-p {
  margin-bottom: 50px;
}

.beneficts {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.beneficts .alwaysFirst {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 280px;
  min-height: 80px;
  margin-top: 15px;
  font-size: 30px;
  background-color: white;
  border: 1px solid #e8e9ed;
}
.beneficts .alwaysFirst .img-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}
.beneficts .alwaysFirst .img-wrap .bg-red-circunference {
  background-color: #fb3b64;
  min-width: 90px;
  min-height: 90px;
  border-radius: 41px;
  transform: translate(179%, -1%) scale(75%) rotate(45deg);
  position: relative;
}
.beneficts .alwaysFirst .img-wrap img {
  position: relative;
  transform: translate(-21%, 19%);
}
.beneficts .alwaysFirst h3 {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 400;
}
.beneficts .alwaysFirst p {
  width: 80%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}
.beneficts .yourShop {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 280px;
  min-height: 80px;
  margin-top: 15px;
  font-size: 30px;
  background-color: white;
  border: 1px solid #e8e9ed;
}
.beneficts .yourShop .img-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}
.beneficts .yourShop .img-wrap .bg-blue-circunference {
  background-color: #08a6e4;
  min-width: 131px;
  min-height: 131px;
  border-radius: 50%;
  transform: translate(65%, 16%) scale(99%);
  position: relative;
}
.beneficts .yourShop .img-wrap img {
  position: relative;
  transform: translate(-25%, 19%);
}
.beneficts .yourShop h3 {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 400;
}
.beneficts .yourShop p {
  width: 80%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}
.beneficts .increase-recognition {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 280px;
  min-height: 80px;
  margin-top: 15px;
  font-size: 30px;
  background-color: white;
  border: 1px solid #e8e9ed;
}
.beneficts h3 {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 400;
  margin-left: 10%;
}
.beneficts p {
  width: 80%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}
.beneficts .greenDiv {
  background-color: #55dfb4;
  width: 99%;
}
.beneficts img {
  transform: translate(-8%, 20%) scale(90%);
}/*# sourceMappingURL=style.css.map */