* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //border: 1px solid greenyellow;
}
body {
  font-family: "Raleway", "Open Sans", sans-serif;
  min-width: 320px;
}

//HEADER
.header-Wrap {
  max-width: 100%;
  header {
    min-height: 70px;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #08a6e4;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 1;

    h1 {
      font-weight: 300;
      font-size: 32px;
      font-family: "Raleway", sans-serif;
      margin-left: -5%;
      max-width: 90%;
    }
    .big-menu {
      display: none;
    }
    .burguer-menu {
      display: flex;
      position: relative;
      z-index: 2;
      height: 100%;
      margin: 0 -5%;
      justify-content: space-between;
      align-items: center;

      .nav-wrap {
        #menu {
          display: none;
        }
        .nav-menu {
          background-color: #ffffff;
          color: #a5a5a5;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          transform: translate(-88%, 33%);
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          min-width: 325px;
          margin-top: 10%;
          margin-bottom: 10%;
          top: 0;
          font-family: "Open Sans", sans-serif;
          font-size: 11px;
          font-weight: 700;

          a {
            margin: 2% 5%;
            text-decoration: none;
          }
          a:link {
            color: #a5a5a5;
          }
          a:visited {
            color: #000000;
          }
        }

        #menu:checked + .nav-menu {
          display: none;
        }
      }
    }
  }
}

// FIRST CONTENT BLOCK
.sales {
  display: block;
  margin: 0 auto;
  h2 {
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    max-width: 90%;
    text-align: center;
    margin: 5% auto;
  }
  p {
    max-width: 90%;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 23px;
    text-align: center;
    padding: 10px;
    margin: 5% auto;
  }

  button {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    border-radius: 40px;
    margin: 0 auto;
    padding: 1rem 3rem;
    background-color: #08a6e4;
    color: white;
    border: 0;
  }

  button:hover {
    box-shadow: 0 3px 10px rgb(7 172 230 / 0.2);
  }
  // Come back to this I need to make the image short themself
  img {
    width: 100%;
  }
}

//SECOND CONTENT BLOCK

.whyUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
  h2 {
    max-width: 80%;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    font-family: "Raleway", sans-serif;
  }
  .wrapper-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    .wrapper-1 {
      .dailyEntries {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 3%;
        .redDot {
          background-color: #fb3b64;
          border-radius: 50%;
          min-width: 60px;
          min-height: 60px;
          margin-top: 25px;
          position: relative;
          z-index: 1;
          transform: translate(35%);
          margin-bottom: 10px;
        }
        img {
          margin-top: 27px;
          position: relative;
          z-index: 2;
          transform: translate(-18%, -18%) scale(85%);
        }
      }

      h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        margin-top: -10px;
      }
      p {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        color: #a5a5a5;
        margin-top: 5px;
        font-size: 16px;
      }
    }

    .wrapper-2 {
      .seenProducts {
        max-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .blueDot {
          background-color: #08a6e4;
          border-radius: 50%;
          min-width: 60px;
          min-height: 60px;
          margin-top: 20px;
          position: relative;
          z-index: 1;
          transform: translate(72%);
        }
        img {
          margin-top: 27px;
          position: relative;
          z-index: 2;
          transform: translate(2%, -17%);
        }
      }
      h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 5px;
      }
      p {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        color: #a5a5a5;
        margin-top: 5px;
        font-size: 16px;
      }
    }
    .wrapper-3 {
      .addedPost {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .greenDot {
          background-color: #55dfb4;
          border-radius: 50%;
          min-width: 60px;
          min-height: 60px;
          margin-top: 20px;
          margin-bottom: 20px;
          position: relative;
          transform: translate(54%);
          z-index: 1;
        }
        img {
          margin-top: 20px;
          position: relative;
          z-index: 2;
          margin-bottom: 20px;

          transform: translate(-11%);
        }
      }
      h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        margin-top: -10px;
        text-align: center;
      }
      p {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        color: #a5a5a5;
        margin-top: 5px;
        font-size: 16px;
      }
    }
  }
}

// THIRD BLOCK
.beneficts {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 325px;

  .alwaysFirst {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80px;
    margin-top: 15px;
    font-size: 30px;
    background-color: white;
    border: 1px solid #e8e9ed;
    max-width: 90%;

    .img-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      position: relative;
      .bg-red-circunference {
        background-color: #fb3b64;
        min-width: 90px;
        min-height: 90px;
        border-radius: 41px;
        transform: translate(179%, -1%) scale(75%) rotate(45deg);
        position: relative;
      }
      .mb-grande {
        display: none;
      }
      img {
        position: relative;
        transform: translate(-21%, 19%);
      }
    }
    .text-wrapper {
      margin-left: 10%;
      h3 {
        margin-top: 40px;
        font-family: "Open Sans", sans-serif;
        text-align: left;
        font-weight: 400;
      }
      p {
        width: 84%;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-bottom: 30px;
      }
      .line {
        display: none;
      }
    }
  }

  .yourShop {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    min-height: 80px;
    margin-top: 15px;
    font-size: 30px;
    background-color: white;
    border: 1px solid #e8e9ed;

    .img-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      position: relative;
      .bg-blue-circunference {
        background-color: #08a6e4;
        min-width: 131px;
        min-height: 131px;
        border-radius: 50%;
        transform: translate(65%, 16%) scale(99%);
        position: relative;
      }
      .ip-litte {
        position: relative;
        transform: translate(-25%, 19%);
      }
      .ip-grande {
        display: none;
      }
    }
    .text-wrap {
      h3 {
        margin-top: 40px;
        margin-left: 5%;
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif;
        text-align: left;
        font-weight: 400;
      }
      p {
        width: 87%;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
  }

  .increase-recognition {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    min-height: 80px;
    margin-top: 15px;
    margin-bottom: 10%;
    font-size: 30px;
    background-color: white;
    border: 1px solid #e8e9ed;
    .text-wrap {
      h3 {
        margin-top: 40px;
        font-family: "Open Sans", sans-serif;
        text-align: left;
        font-weight: 400;
        margin-left: 10%;
        margin-bottom: 15px;
      }
      p {
        width: 80%;
        text-align: left;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    .greenDiv {
      background-color: #55dfb4;
      width: 100%;
    }
    img {
      transform: translate(-8%, 20%) scale(90%);
    }
  }
}
// FOURTH BLOCK
.price {
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 25px;
  }
  .price-container {
    margin: 0 auto;
    display: block;
    .basic-container {
      margin: 0 auto;
      .basic {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        min-width: 92%;
        border: 1px solid #fb3b64;
        border-radius: 18px;
        margin-top: 10%;
        .text-price-wrapper {
          margin-top: 70px;
          margin-left: 10%;

          h4 {
            font-size: 20px;
            font-weight: 700;
            font-family: "Raleway", sans-serif;
            text-align: center;
            margin-bottom: -5px;
          }
          h2 {
            font-size: 46px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            color: #fb3b64;
            margin-bottom: 100px;
          }
        }
        table {
          margin-top: 25px;
          margin-right: 4%;
          margin-left: 20px;
          margin-bottom: 60px;

          tbody {
            margin-top: -10px;
            tr {
              padding: 10px;
              td {
                img {
                  padding-right: 10px;
                }
                p {
                  font-size: 14px;
                  font-family: "Open Sans", sans-serif;
                  text-align: left;
                }
              }
            }
          }
        }
      }

      .basic-button {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        min-width: 150px;
        border-radius: 23px;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
        background-color: #eb476e;
        color: white;
        border: 0;
        translate: 47% -52%;
        position: relative;
      }
    }
    .profesional-container {
      margin: 0 auto;
      min-width: 98%;
      .profesional {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-content: center;
        border: 1px solid #07ace6;
        border-radius: 18px;

        .text-price-wrapper {
          margin-top: 70px;
          margin-left: 5%;

          h4 {
            font-size: 20px;
            font-weight: 700;
            font-family: "Raleway", sans-serif;
            text-align: center;
            margin-bottom: -5px;
          }
          h2 {
            font-size: 46px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            color: #07ace6;

            text-align: center;
          }
          p {
            margin-bottom: 50px;
            text-align: center;
            font-size: 12px;
            margin-top: -5px;
            font-weight: 700;
            margin-bottom: 80px;
          }
        }
        table {
          margin-top: 25px;
          margin-right: 2%;
          margin-left: 20px;
          margin-bottom: 50px;

          tbody {
            margin-top: -10px;
            tr {
              padding: 10px;
              td {
                img {
                  padding-right: 10px;
                }
                p {
                  font-size: 14px;
                  font-family: "Open Sans", sans-serif;
                  text-align: left;
                }
              }
            }
          }
        }
      }

      .profesional:hover {
        box-shadow: 5px, 10000px rgba(7, 172, 230, 0.29);
      }
      .profesional-button {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        min-width: 150px;
        border-radius: 23px;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
        background-color: #07ace6;
        color: white;
        border: 0;
        translate: 40% -50%;
        position: relative;
      }
    }
    .premium-container {
      display: block;
      margin: 0 auto;
      .premium {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        min-width: 96%;
        border: 1px solid #55dfb4;
        border-radius: 18px;

        .text-price-wrapper {
          margin-top: 56px;
          h4 {
            font-size: 20px;
            font-weight: 700;
            font-family: "Raleway", sans-serif;
            text-align: center;
            margin-bottom: -5px;
          }
          h2 {
            font-size: 46px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            color: #55dfb4;

            text-align: center;
          }
          p {
            margin-bottom: 50px;
            text-align: center;
            font-size: 12px;
            margin-top: -5px;
            font-weight: 700;
            margin-bottom: 90px;
          }
        }
        table {
          margin-top: 25px;
          margin-right: -3%;
          margin-left: -14px;
          margin-bottom: 60px;

          tbody {
            margin-top: -10px;
            tr {
              padding: 10px;
              td {
                img {
                  padding-right: 10px;
                }
                p {
                  font-size: 14px;
                  font-family: "Open Sans", sans-serif;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      .premium-button {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        min-width: 94%;
        font-weight: 700;
        line-height: 22px;
        min-width: 150px;
        border-radius: 23px;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
        background-color: #55dfb4;
        color: white;
        border: 0;
        translate: 45% -50%;
        position: relative;
      }
    }
  }
}

//  FIFTH CONTENT BLOCK

.contact {
  .contact-container {
    display: block;
    margin: 0 auto;
    min-width: 100%;
    .questions-wrap {
      text-align: center;
      h2 {
        font-size: 40px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
      }
      h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 38px;
        margin-top: 5px;
      }
      .contact-data {
        display: none;
      }
      table {
        margin: 0 auto;
        tr {
          td {
            padding-left: 5px;
            p {
              font-family: "Open Sans", sans-serif;
              font-weight: 600;
              font-size: 16px;
              color: #a5a5a5;
            }
          }
        }
      }
    }

    form {
      max-width: 90%;
      margin: 0 auto;
      margin-top: 56px;

      label {
        color: #07ace6;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        font-weight: 600;
      }
      input {
        outline: 0;
        border-width: 0 0 1px;
        border-color: black;
        min-width: 80%;
        margin-bottom: 42px;
      }
      div {
        display: flex;

        flex-direction: row;

        input {
          width: 15%;
          border-color: #fb3b64;
          min-width: 10%;
          margin-right: 10px;
          margin-bottom: 68%;
          transform: scale(150%);
          accent-color: white;
          color: #08a6e4;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          text-align: center;
          color: #707070;
        }
      }
      button {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        border-radius: 40px;
        margin: 1rem 6rem;
        padding: 1rem 4.5rem;
        background-color: #08a6e4;
        color: white;
        border: 0;
        box-shadow: 0 3px 10px rgb(7 172 230 / 0.2);
      }
    }
  }
}

//  FOOTER CONTENT BLOCK
footer {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  .footer-wrap {
    display: flex;
    flex-direction: row;
    .footer-text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 70%;
      h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 26px;
        color: #08a6e4;
        text-align: left;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #a5a5a5;
        text-align: left;
      }
    }
    .sm-logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 89px;
      width: 30%;
      img {
        margin-left: 5%;
      }
    }
  }
}

// MEDIA QUERYS
@media screen and (min-width: 1000px) {
  //HEADER
  .header-Wrap {
    header {
      h1 {
        translate: -43;
      }
      .big-menu {
        display: flex;
        flex-direction: row;
        min-width: 50%;
        translate: 40%;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 3px;
        a {
          margin-right: 15%;
          text-decoration: none;
        }
        a:link {
          color: #a5a5a5;
        }
        a:visited {
          color: #000000;
        }
      }
      .burguer-menu {
        display: none;
      }
    }
  }
  // FIRST BLOCK OF CONTENT
  .sales {
    h2 {
      font-size: 49px;
      line-height: 57px;
      text-align: center;
      margin-bottom: 0%;
    }
    p {
      margin-top: 0;
      margin-left: 5%;
      margin-bottom: -1%;
    }
    button {
      padding: 2rem 10rem;
      margin: 1.75rem;
      transform: translate(157%);
      font-size: 16px;
      font-weight: 22px;
    }
  }
  // SECOND BLOCK OF CONTENT
  .whyUs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h2 {
      font-size: 36px;
      line-height: 42px;
      min-width: 100%;
    }
    .wrapper-0 {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      min-width: 53%;
    }
  }
  // THRID BLOCK OF CONTENT
  .beneficts {
    min-width: 100%;
    .alwaysFirst {
      max-width: 55%;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;

      .img-wrap {
        min-height: 100%;
        max-width: 50%;
        order: 2;
        .mb-grande {
          display: block;
          min-width: 386px;
          translate: 10% -6%;
        }
        .mb-litte {
          display: none;
        }
        .bg-red-circunference {
          scale: 180%;
          border-radius: 41%;
          translate: 28% 37%;
        }
      }
      .text-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 45%;
        order: 1;
        margin-bottom: 11%;

        h3 {
          margin-bottom: 10px;
        }
        .line {
          display: inline-block;
          background-color: #fb3b64;
          min-height: 2px;
          max-width: 65%;
        }
      }
    }
    .yourShop {
      display: flex;
      max-width: 55%;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;

      .img-wrap {
        min-height: 100%;
        max-width: 50%;
        order: 1;
        .ip-litte {
          display: none;
        }
        .ip-grande {
          display: block;
          position: relative;
          translate: -8% -1%;
          max-width: 426px;
          scale: 90%;
        }
        .bg-blue-circunference {
          scale: 235%;
          translate: 4% 36%;
        }
      }
      .text-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        max-width: 32%;
        order: 2;

        h3 {
          margin-left: 0;
        }

        .line {
          display: inline-block;
          background-color: #08a6e4;
          min-height: 2px;
          max-width: 65%;
        }
      }
    }
    .increase-recognition {
      flex-direction: row;
      justify-content: space-between;
      max-width: 55%;
      background-color: #f7f7f7;
      border: none;
      margin-bottom: 5%;
      .text-wrap {
        background-color: white;
        border: 1px solid #e8e9ed;
        border-radius: 5px;
        order: 1;
        max-width: 57%;

        h3 {
          margin-left: 3%;
          max-width: 60%;
        }
        p {
          margin-left: 3%;
          font-size: 16px;
          max-width: 72%;
        }
        .line {
          display: inline-block;
          background-color: #55dfb4;
          min-height: 2px;
          max-width: 65%;
          min-width: 63%;
          margin-top: 5%;
          margin-left: 3%;
          margin-bottom: 10%;
        }
      }
      .greenDiv {
        border-radius: 5px;
        border: 1px solid #e8e9ed;
        order: 2;
        max-width: 40%;
        padding-bottom: 11%;

        img {
          translate: 7% 55%;
          scale: 93%;
        }
      }
    }
  }
  // FOURTH BLOCK OF CONTENT
  .price {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    .price-container {
      display: flex;
      flex-direction: row;
      min-width: 100%;
      justify-content: space-around;
      align-items: center;
      margin-top: 5%;

      .basic-container {
        min-width: 30%;
        .basic {
          flex-direction: column;
          .text-price-wrapper {
            h4 {
              font-size: 20px;
            }
            h2 {
              margin-bottom: 20px;
              margin-left: 42%;
              margin-top: 4%;
              font-size: 48px;
            }
          }
          table {
            margin-right: 47%;
            translate: 44%;
            border-spacing: 30px;
          }
        }
        .basic-button {
          display: block;
          margin: 0 auto;
          translate: 5% -45%;
        }
      }
      .profesional-container {
        min-width: 30%;

        .profesional {
          flex-direction: column;

          .text-price-wrapper {
            h4 {
              margin-top: 10%;
              margin-bottom: 2%;
            }
            h2 {
              margin-bottom: 2%;
            }
            p {
              margin-bottom: 10%;
            }
          }
          table {
            translate: 24% -26%;
            border-spacing: 30px;
            tbody {
              tr {
                td {
                  img {
                    margin-right: 0;
                    padding-right: 0;
                  }
                  p {
                    margin-left: 0;
                    padding-right: 0;
                  }
                }
              }
            }
          }
        }
        .profesional-button {
          display: block;
          margin: 0 auto;
          translate: 5% -45%;
        }
      }

      .premium-container {
        min-width: 30%;

        .premium {
          flex-direction: column;
          align-content: center;

          .text-price-wrapper {
            h4 {
              padding-top: 4%;
              font-size: 20px;
            }
            h2 {
              margin-bottom: 20px;
              margin-left: -2%;
              margin-top: 4%;
              font-size: 48px;
            }
            p {
              margin-bottom: 5%;
            }
          }
          table {
            margin-right: 47%;
            translate: 44%;
            border-spacing: 30px;
          }
        }
        .premium-button {
          display: block;
          margin: 0 auto;
          translate: 5% -45%;
        }
      }
    }
  }

  // FIFTH BLOCK OF CONTENT

  .contact {
    min-width: 100%;
    display: block;
    margin: 0 auto;

    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .questions-wrap {
        min-width: 40%;
        min-width: 35%;
        margin-top: 10%;
        h2 {
          font-size: 49px;
        }
        h4 {
          margin-top: 3%;
          margin-bottom: 3%;
        }
        .contact-data {
          margin-left: 3%;
          max-width: 50%;
          display: inline-block;
          margin: 0 auto;
          .mail {
            display: flex;
            flex-direction: row;
            align-content: center;
            img {
              margin-right: 10px;
            }
          }
          .phone {
            display: flex;
            flex-direction: row;
            img {
              margin-right: 10px;
            }
          }
        }
        table {
          display: none;
        }
      }
      .contact-text {
        max-width: 40%;
        margin-top: 7%;
        form {
          #name {
            margin-bottom: 5%;
            margin-top: 3%;
          }
          #email {
            margin-bottom: 5%;
            margin-top: 3%;
          }
        }

        .checkbox-wrap {
          flex-direction: row;
          justify-content: flex-start;
          margin-left: -10%;
          input {
            margin-bottom: 0;
            scale: 30%;
          }
        }
        button {
          translate: 155%;
        }
      }
    }
  }

  //FOOTER
  footer {
    .footer-text {
      translate: -40%;
    }
    .sm-logos {
      justify-content: center;
      img {
        margin-right: 5%;
      }
    }
  }
}
